body{
    display: flex;
    flex-direction: column;
    max-height: 100vh;
    min-height: 100vh;
    margin: 0;
    padding: 0;
}

#container{
    display: flex;
    flex-direction: column;
    justify-items:center;
    justify-content: space-evenly;
    flex-grow: 1;
    padding-left: 100px;
    padding-right: 100px;
    padding-bottom: 20px;
}

.boxrow{
    display: flex;
    justify-content: space-evenly;
    margin: 0px;
    padding: 0px;
    flex-grow: 1;
}

.box{
    flex-grow: 1;
    background-color: white;
    aspect-ratio: 1;
}



  .header {
    display: flex;
    justify-content: center;
    align-content: center;
    background-color: #1f2937;
    color: white;
    padding-top: 50px;
    padding-bottom: 50px;
    font-size: 40px;
    font-weight: bold;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
  }

  .mainpanel {
    display: flex;
    flex-grow: 1;
    padding: 50px;
    background-color: #e5e7eb;
  }

  .controlpanel {
    background-color: #e5e7eb;
    display: flex;
    flex-direction: column;
    min-width: 150px;
    padding: 15px;
    flex-basis: 150px;
    flex-grow: 0;
    gap: 20px;
    flex-wrap: wrap;
    font-weight: 600;
    font-size: 20px;
  }

  .bclr {
    padding: 6px;
    background-color: coral;
    font-weight: bold;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 15px;

  }

  .bchangemode{
    padding: 6px;
    background-color: coral;
    font-weight: bold;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 15px;
  }

  .label{
    
    display: flex;
    flex-wrap: wrap;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    
  }

  .footer {
    display: flex;
    justify-content: center;
    align-content: center;
    background-color: #1f2937;
    color: white;
    padding-top: 40px;
    padding-bottom: 40px;
    font-size: 20px;
    font-weight: bold;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  }
